.main-menu-btn {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #bbb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}
.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}
#main-menu-state:checked ~ #main-menu {
  display: block;
}
@media (min-width: 1200px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
  .telegramclass
  {
	float:right!important;  
  }
}

.logoClass{
    position: absolute;
    top: 10px;
    left: 140px;
    /* height: 2px; background: #BBB1A3;*/
    width: 100px;
    color: #1890CC;
	font-weight: bold;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
	font-family:'Roboto Condensed';
}

.responsive {text-align: center;}
.responsive img { max-width: 100%;}
.new {
  position: relative;
}

.new-icon {
  position: absolute;
  top: -0.8px; /* Adjust the value based on your design */
  left: 4.8px; /* Adjust the value based on your design */
  /* padding-left:0.2rem; */
  
  width: 30px;
  height: 30px;
  background: none;
}



.notification .bellnote {
  position: absolute;
  top: 5px;
  right: 16px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size:12px;
}

.bellnote {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.sOffer {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	 animation: blinker 1s linear infinite;
	 
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}