
  /* darktheme css 21 */


/* toggler css */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2e2e2e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e2e2e;
}
.dark-theme .topnav a:hover input:checked + .slider {
  background-color: #1a1a1a;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -4px;
}


  /* Light theme styles */


.dark-theme .select2-container--default .select2-selection--single .select2-selection__rendered {
  background-color: black;
  color: #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  border-radius: 4px;
}
.dark-theme .select2-results__option {
  border-bottom: 1px solid #3b3b3b;
}
.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dark-theme ::selection {
  background: #3b3b3b !important;
}
.dark-theme .select2-results__options .select2-results__options--nested, .dark-theme .select2-results__option {
  background-color: #000;
}
.dark-theme .select2-container--default .select2-search--dropdown .select2-search__field, .dark-theme .select2-search--dropdown {
  background: #3b3b3b;
  color: #f8f8f8;
}
.dark-theme .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f8f8f8 !important;
  color: #000;
}

/* highcharts-a11y-proxy-group highcharts-a11y-proxy-group-legend */
/* highcharts-a11y-proxy-button */
.dark-theme .select2-container--default .select2-results__group {
  background-color: #3b3b3b;
}
body.dark-theme div#chartContainer{
  background-color:black !important;;
  color: black !important;;
}

.dark-theme .mdl-radio__ripple-container {
  color: white;
}
/* calenedar bg css */
.dark-theme #txtDate {
  color-scheme: dark;
}

  .darktheme_color{
  color: black;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal
}
.dark-theme  .darktheme_color{
  color: white;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal
  
}
.dark-theme .scxToolbarButton-dropdownElement {
  background-color:black;
}

.dark-theme #sort_table,
.dark-theme #sort_table th,
.dark-theme #sort_table td {
border: 1px solid #2b2b2b;
}

@media screen and (max-width: 1000px) {
footer div {
  border-top: 0.5px solid #2d87b8;
}
.dark-theme .topnav a {
  border-top: 0.5px solid #2e2e2e;
}
.dark-theme footer div {
  border-top: 0.5px solid #2e2e2e;
}
.dark-theme footer div:last-child {
  border-bottom: 0.5px solid #2e2e2e;
}
.dark-theme .topnav a:first-child,
.dark-theme .topnav a:last-child {
  border-bottom: 0.5px solid #2e2e2e;
}
.dark-theme .sub-dropdown .sub-dropbtn,
.dark-theme .dropdown-content a:not(:last-child),
.dark-theme .sub-dropdown-content a:not(:last-child) {
  border-bottom: 0.5px solid #2e2e2e !important;
}
}

@media screen and (max-width: 1000px) {
.dark-theme .dropdown {
  border-top: 0.5px solid #2e2e2e;
}
}
body.dark-theme, .dark-theme #sort_table th, .dark-theme #sort_table td{
  background: black;
  color: white;

}
.dark-theme #sort_table th, .dark-theme #sort_table td {
  border: 1px solid #797474;
}
.dark-theme .search-box{
  background:black;
  color : white;

}  
:root {
  --green-color: green !important;
  --negative-color: red !important;
  --neutral-color: black !important;

}

body.dark-theme {
  --green-color: #72FF72 !important; 
  --negative-color: #ff0000 !important; 
  --neutral-color: white !important;

}

.green-text {
  color: var(--green-color)!important; 
}

.negative-text {
  color: var(--negative-color) !important; 
}

.neutral-text {
  color: var(--neutral-color) !important; 
}
.symbol {
  color: darkblue;
 }

 thead {
  border-bottom: 2px solid #000000 !important;
 }
 .dark-theme thead {
  border-bottom: 2px solid rgb(243, 233, 233) !important;
 }
