.scxWatermarkSymbol { font-size: 40px!important;visibility: hidden; }
.scxWatermarkInfo { font-size: 40px!important;visibility: hidden; }

.mdl-textfield__input {
 display: -moz-inline-stack;
}
.mdl-radio__ripple-container .mdl-ripple {
     background: #1890CC!important;
}
.mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #1890CC
}
/*.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #1890CC!important;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}*/
.mdl-radio__inner-circle {
    background: #1890CC!important;
}
.mdl-button--raised.mdl-button--colored {
   background: #1890CC!important;
    color: rgb(255,255,255);
}
.mdl-radio {
font-size: 13px; 
}

.mdl-textfield__input {
   font-size: 13px;
   
}

.material-icons.md-24 {
	 font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.mdl-button {
line-height: 28px;
height: 28px;
/***this is used to make download buttons small***/
 min-width: 8px;/*added on 24 feb*/
 vertical-align: baseline;/*added on 24 feb*/
 padding: 0 5px;/*added on 24 feb*/
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: rgb(255,255,255);
    background-color:#f0ad4e;
}

.pageHeading{
	font-family: "Roboto","Helvetica","Arial",sans-serif;text-align:center;
	font-size:20px;
	margin-top:2px;margin-bottom:2px;
	font-weight: 500;
	letter-spacing: .02em;
	text-align:center;
}





/*	added on 10Nov20	*/
.right_side {
     float: right !important;

}

.oiclass{
color:purple;
font-weight:bold;	
}

.dataTables_filter {
display: none;
}

.dataTables_scrollHeadInner
{
     width: 640px !important;
}




 .mdl-textfield__label:after {
     transition-duration: 0s!important;
}
 .mdl-textfield.is-focused .mdl-textfield__label:after {
     bottom: 5px!important;
     visibility: visible;
     width: 100%;
}
 .mdl-textfield {
     padding-top: 15px!important;
     padding-bottom:5px!important;
}
 #frmOptChain {
     padding-right: 15px;
     padding-left: 15px;
}


.dataTables_scrollHeadInner
{
     width: 640px !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: Roboto,sans-serif;
    line-height: 2;
	 max-height: calc(100vh - 200px);
    overflow-y: auto;
	
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
 
  font-weight: bold;
  cursor:pointer;
}

.infoclass
{
	padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left:20px;
	border:2px solid #ccc;/*added on 24 feb*/
}

/*To solve CheckBox Issue IN Mozilla*/
@-moz-document url-prefix() {
    .mdl-checkbox__box-outline {
    top: 0.05px; 
}
}

 /***Price Info Line Font***/
.futdata{font-size:12px;}


/***Chart Title***/
 .mdl_info_header {
     padding: 10px;
     background-color:#1890CC!important;
}


@media(min-width : 769px) {
 .mobile{
			display:none;
		}
.right_side {
  float: right !important;
  padding-right:5px;
}
.selectedtextclass {
   line-height:25px;
  font-size:12px;
}

}
@media(max-width : 768px) {
.desktop
{
display:none;	
}
.selectedtextclass {

   line-height:15px;
  font-size:12px;
}
}
#frmOptChain {
    padding-right: 15px;
    padding-left: 15px;
}	
  #callchart {
          width: 98%;
		  height: 77%;
        }
		
/*** this is for large Screens ***/
 @media (min-width : 1600px) {
		#callchart {
			width: 100%;
			height: 87%;
        }
		.mobile{
			display:none;
		}
		.right_side {
			float: right !important;
			padding-right:20px;
		}
 }
  
  
body{
			background:rgb(255,255,255);
			line-height: 10px!important;
}
 html, body {
		     margin:0px;
			padding:0px;
			width: 100%;
			height: 100%;
}	
/*
.FuturePriceCard {
height:60px;
width:160px;
background-color:#fff;
line-height: 7px;
padding:0px;
cursor:default;
font-family: "Roboto","Helvetica","Arial",sans-serif;
background-color:none;
}
.SpotPriceCard {
height:35px;
width:160px;
background-color:#fff;
line-height: 8px;
padding-top:5px;
text-transform: none;
cursor:default;
font-family: "Roboto","Helvetica","Arial",sans-serif;

}*/
.FuturePriceCard {
/* height:60px; */
/* width:160px;  */
/* background-color:#fff; */
/* line-height: 7px; */
max-width:160px;
padding-top:8px;
padding-bottom:7px;
padding-right:10px;
padding-left:10px;
cursor:default;
font-family: "Roboto","Helvetica","Arial",sans-serif;
background-color:none;
}
.SpotPriceCard {
/* height:35px; */
 /* width:160px;  */
/* background-color:#fff; */
/* line-height: 8px; */
/* padding-top:5px; */
max-width:160px;
padding-top:8px;
padding-bottom:0px;
padding-right:10px;
padding-left:10px;
text-transform: none;
cursor:default;
font-family: "Roboto","Helvetica","Arial",sans-serif;

}
.FuturePriceCard:hover
{
background:#fff!important;	
}
.FuturePriceCard:active
{
	background:#fff!important;	
}
.SpotPriceCard:hover
{
background:#fff!important;	
}
.wrapper div  {
       display: inline-block;
	   float: right;
}
@media(max-width:769px){
  .wrapper div{
     display: inline-block;
	   float: none !important;
   }
}
.f11
{
font-size:11px;	
}
.f12
{
font-size:12px;	
}
.f13
{
font-size:13px;	
}
.f14
{
font-size:14px;	
}
.f15
{
font-size:15px;	
}
.f16
{
font-size:16px;	
}
.fwbold
{
font-weight:bold;	
}
/*to remove cursor pointer around radio button*/
 .mdl-radio__ripple-container {
 
    left: 0px;
 }
#nodata {

  color: black;
  padding: 0%;
  text-align: center;
} 	 
	 
